export(SLAPE.readDataset)
export(SLAPE.write.table)
export(SLAPE.analyse)

export(SLAPE.pathvis)
export(SLAPE.serialPathVis)
export(SLAPE.core_components)
export(SLAPE.heuristic_mut_ex_sorting)
export(SLAPE.diff_SLAPE_analysis)

export(SLAPE.check_and_fix_gs_Dataset)
export(SLAPE.update_HGNC_Table)

export(SLAPE.gene_ecbl_length)
export(SLAPE.update_exon_attributes)

export(SLAPE.compute_gene_exon_content_block_lengths)

import('HGNChelper')

#import('stringr')
#import('poibin')
#import('pheatmap')
#import('qvalue')
#import('biomaRt')

#import('igraph')
