export(SLAPE.readDataset)
export(SLAPE.Analyse)
export(SLAPE.write.table)
export(SLAPE.pathVis)
export(SLAPE.serialPathVis)
export(SLAPE.coreComponents)

#import('stringr')
#import('poibin')
#import('pheatmap')
#import('qvalue')
#import('biomaRt')
#import('HGNChelper')
#import('igraph')
