export(SLAPE.readDataset)
export(SLAPE.Analyse)
export(SLAPE.write.table)
export(SLAPE.pathVis)
export(SLAPE.serialPathVis)
export(SLAPE.coreComponents)

#import('stringr')
#import('poibin')
#import('pheatmap')
#import('qvalue')
#import('TxDb.Hsapiens.UCSC.hg38.knownGene')
import('org.Hs.eg.db')
#import('igraph')
